.page {
  font-size: 25px;
  min-width: 450px;
}
.page-header {
  margin: auto;
  height: 10%;
  text-align: center;
  width: 450px;
}
.page-header-text {
  border: 5px solid;
  border-radius: 10px;
  padding: 2%;
  /* width: fit-content; */
}
/* ------------------- */
.contact-list {
  margin: auto;
  width: 450px;
  border: 4px solid;
  border-radius: 3px;
}
.contact-list-head {
  text-align: center;
  border:5px solid rgb(19, 117, 137);
  width: inherit;
  font-size: 150%;
  font-weight: bold;
}
.contact-list-body {
  margin: auto;
  width: inherit;
  height: 400px;
  overflow: scroll;
  overflow-x: hidden;
  padding-top: 5px;
  padding-right: 5px;
}
.contact-list-entry {
  border: 2px solid rgb(33, 146, 150);
  width: inherit;
  padding-left: 10px;
}




body {
  padding: 5%;
  background-color: rgb(3, 35, 41);
  color: rgb(201, 218, 221);
}
table {
  table-layout: fixed;
  width: 200px;
}

tr, td {
  border: 2px solid rgb(33, 146, 150);
  width: inherit;
}

th {
  border:4px solid rgb(19, 117, 137);
  width: inherit;
}

.ReactTable .rt-thead {
  overflow-y: scroll;
}

/* div { 
  overflow: scroll;
} */

